.principale {
    padding: 40px 0px 10px 9%;
    margin-right: 10px;
    color: black;
    transition: 0.5s ease-in-out;
}

.sidebar:hover+.principale {
    margin-left: 120px;

}

@media (max-width: 768px) {

    .principale{
    padding: 40px 0px 10px 20%;
}

}

@media (min-width: 776px) {

    .principale {
        padding: 40px 0px 10px 18%;

    }

}
@media (min-width: 1024px) {
    .principale {
        padding: 40px 0px 10px 14%;
    }
}


@media (min-width: 1200px) {
    .principale {
        padding: 40px 0px 10px 9%;
    }
}

@media (max-width: 376px) {

    .principale {
        padding: 40px 0px 10px 25%;
    }
   

}

