.alert-danger {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .alert-danger.show {
    opacity: 1;
  }

  .alert-success {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .alert-success.show {
    opacity: 1;
  }

  .alert.hide {
  opacity: 0;
}
button.edit {
  border: none;
  color: orange;
  font-size:  15px;
  padding: 5px;
}
button.delete {
  border: none;
  color: orange;
  font-size:  15px;
  padding: 5px;

}
